.inputField {
  height: 5rem;
  display: grid;
  grid-template-columns: 4rem 1fr 5rem;
  align-items: center;
  justify-items: center;
  justify-self: center;
  background-color: var(--white);
  border-radius: 5rem;
  box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
}
.inputField input {
  padding: 1rem 1rem 1rem 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.4rem;
}
.attach {
  font-size: 2.5rem;
  color: var(--link-clr);
  cursor: pointer;
}

.send {
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--msg-bg);
  color: var(--white);
  cursor: pointer;
}
